{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>...</h1>
<form method="post">
    {%csrf_token%}
    {{form.region}}<br><br>
    {{form.name}}<br><br>
    <button type="submit">add</button>
</form>
<table>
    <thead>
        <tr>
            <th></th>
            <th>id</th>
            <th>Region</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        {% for c in city %}
        <tr>
            <th></th>
            <td>{{c.id}}</td>
            <td>{{ c.region }}</td>
            <td>{{c.name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>